body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    color:  #07119b;
    width: 100%;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    padding: 1% 5% 2% 5%;
    background-color: #2727ff;
    color: #fcfcfc;
  }
  
  header > .logo > img {
    width: 55%;
  }
  
  a{
    color: unset;
  }

  header nav {
    display: flex;
    align-items: center;
    padding-right: 8px;
    font-family: 'Asap',sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fcfcfc;
  }
  
  header nav a + a {
    margin-left: 22px;
  }
  

  /*Link já visitado*/
  a:visited {
    color: #fcfcfc;
    text-decoration: none;
  }
  
  /*Quando o mouse passa por cima*/
  a:hover {
    color: #00e5fc;
    text-decoration: none;
  }
  
  #central{
    display: flex;
    background-color: rgb(39, 39, 255);
    padding: 0%;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    vertical-align: bottom;
    align-content: space-between;
  }

  #central .textoCentral {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 42%;
    padding: 5% 0% 5% 5%;
    text-align: left;
  }

  #central > .textoCentral > h1{
    display: flex;
    justify-content: start;
    font-weight: 700;
    font-size: 110px;
    line-height: 0.8;
    color: #00e5fc;
    font-family: 'Roboto',sans-serif;
    padding: 0% 0% 0% 0%;
    margin: 0%;
  }

  #central > .textoCentral > h3{
    display: flex;
    justify-content: start;
    font-weight: 700;
    font-size: 110px;
    line-height: 0.8;
    color: #fcfcfc;
    font-family: 'Roboto',sans-serif;
    padding: 0% 0% 5% 0%;
    margin: 0%;
    text-align: left;
  }

  #central > .textoCentral > p{
    color: #fcfcfc;
    padding: 2% 2% 0% 2%;
    margin: 0%;
    text-align: left;
    font-family: 'Asap',sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 0.8;
  }

  #central .central {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 58%;
  }

  #sobre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50%;
    padding: 0% 0% 5% 0%;
    font-family: 'Asap',sans-serif;
    font-size: 20px;
    min-width: 393px;
    
  }

  #sobre > h3{
    padding: 5% 5% 2% 5%;
    margin: 0%;
    text-align: center;
  }

  .sobreDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0% 0% 0% 0%;
  }

  #sobre .parte1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 45%;
    min-width: 200px;
    min-height: 200px;
  }

  #sobre .parte1 .texto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    min-width: 200px;
    min-height: 200px;
  }
  
  #sobre .parte2 {
    display: flex;
    align-items: flex-start;
    width: 45%;
    flex-direction: column;
    min-width: 200px;
    min-height: 200px;
    padding: 0% 2% 0% 2%;
  }

  #sobre .parte2 .cursos {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    min-width: 200px;
    min-height: 200px;
    margin: 5px 0;
    padding: 0% 0% 0% 0%;
  }

  .texto > p{
    padding: 5% 5% 5% 5%;
    margin: 0%;
    text-align: center;
  }

  .cursos > p{
    padding: 0% 5% 5% 5%;
    margin: 0%;
    text-align: center;
  }

  #oportunidades {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50%;
    padding: 0% 0% 0% 0%;
    font-family: 'Asap',sans-serif;
    font-size: 20px;
  }

  #oportunidades > h3{
    padding: 5% 5% 3% 5%;
    margin: 0%;
    text-align: center;
  }

  .oportDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 0% 0% 0% 0%;
    margin: 0%;
  }

  .card {
    width: 30%;
    background-color: #d6f7f8;
    min-width: 200px;
    min-height: 200px;
    padding-right: 1%;
    padding: 1% 1% 1% 1%;
    text-align: center;
    padding-left: 1%;
    border-radius: 6px;
    box-shadow: 10px 10px rgb(7, 17, 155);
  }

  #metodologia {
    text-align: center;
    padding: 0% 0% 5% 0%;
    font-family: 'Asap',sans-serif;
    font-size: 20px;
  }

  #metodologia > h3{
    padding: 5% 5% 0% 5%;
    margin: 0%;
    text-align: center;
  }

  #metodologia > .metodo > img {
    width: 55%;
  }

  #ementa{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0% 0% 5% 0%;
    font-family: 'Asap',sans-serif;
    font-size: 20px;
  }

  #ementa > h3{
    padding: 3% 5% 3% 5%;
    margin: 0%;
    text-align: center;
  }

  #ementa .table{
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
  
  
  table, th, td {
    border: 1px solid #07119b;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    border-radius: 6px;
    box-shadow: 10px 10px rgb(7, 17, 155);
  }
  
  th, td {
    padding: 8px 4px;
  }

  tr:nth-child(even) {
    background-color: #fcfcfc;
  }

  #projetos{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    padding: 0% 0% 0% 0%;
    margin: 0%;
    font-family: 'Asap',sans-serif;
    font-size: 20px;
  }

  .Projetos {
    display: flex;
    flex-direction: column;
    text-align: center;
    
  }

  .proj1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #d6f7f8;
    width: 50%;
    align-items: center;
    padding: 1% 0% 1% 5%;
    border-radius: 6px;
  }
  
  .proj1 > img {
    border: 2px solid #07119b;
  }

  .proj2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #d6f7f8;
    width: 50%;
    text-align: center;
    align-self: flex-end;
    align-items: center;
    padding: 1% 3% 1% 0%;
    border-radius: 6px;
  }

  .proj2 > img {
    border: 2px solid #07119b;
  }

  .proj3 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #d6f7f8;
    width: 50%;
    align-items: center;
    padding: 1% 0% 1% 5%;
    border-radius: 6px;    
  }

  .proj3 > img {
    border: 2px solid #07119b;
  }


  #depoimentos {    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: 'Asap',sans-serif;
    font-size: 20px;
  }

  #depoimentos > h3{
    padding: 5% 5% 3% 5%;
    margin: 0%;
    text-align: center;
  }

  .depDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
  }
  
  /* Auxilio para visualização das seções */
  #oportunidades , #metodologia , #ementa ,
  #projetos , #depoimentos , #duvidas  {
    min-width: 100%;
    min-height: 250px;
  }
  
  #dúvidas {    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: 'Asap',sans-serif;
    font-size: 20px;
  }
  
  #dúvidas > h3{
    padding: 5% 5% 3% 5%;
    margin: 0%;
    text-align: center;
    width: 50%;
  }

  .duvDiv {
    font-family: 'Asap',sans-serif;
    font-size: 20px;
  }

  #footer {
    display: flex;
    background-color: #2727ff;
    font-family: 'Asap',sans-serif;
    font-size: 20px;
  }

  .logoRodape{
    width: 20%;
  }

  
  @media screen and (max-width: 768px) {
    body{
      width: 98%;
    }

    header{
      justify-content: flex-start;
    }

    header > .logo > img {
      width: 100%;
    }

    header .logo{
      width: 25%;
    }
    
    header nav {
      flex-wrap: nowrap;
      justify-content: center;
      font-size: 13px;
      width: 68%;
      text-align: justify;
    }

    header nav a + a{
      margin: 5px;
    }

    #central > .textoCentral > h1{
      font-size: 90px;
    }

    #central > .textoCentral > h3{
      font-size: 90px;
    }

    #central > .textoCentral > p{
      font-size: 20px;
    }

    #oportunidades .card{
      height: 379.85px;
    }

    #projetos .Projetos{
      font-size: 13px;
    }

    #depoimentos .depDiv .card > iframe{
      width: 220px;
      height: 150px;
    }

    footer > header > #footer{
      font-size: 15px;
      text-align:end;
      width: 70%;
    }

  }

  
  @media screen and (max-width: 1024px){
    header{
      width: 90%;
    }

    header > .logo > img {
      width: 100%;
    }

    header .logo{
      width: 25%;
    }

    header nav {
      flex-wrap: nowrap;
      justify-content: flex-end;
      font-size: 18px;
      width: 68%;
      text-align: justify;
    }

    header nav a + a{
      margin: 5px;
    }

    #oportunidades .card{
      height: 280px;
    }
  }